<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users App</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/client-scripts/client-script" defer></script>
  <script src="/client-scripts/client-validation.js" defer></script>
</head>

<body>
  <div id="header">
    <h1 id="page-title-weight">{{pageTitle}}</h1>
    <nav class="nav">
      <a href="#">Home</a>
      <a href="#">Health</a>
      <a href="#">Money</a>
      <a href="#">Learn</a>
      <a href="#">Kids</a>
      <a href="#">Projects</a>
      <a href="/logout">Log out</a>
    </nav>
  </div>

  <div id="content">
    {{{body}}}
  </div>

  <div id="footer">
    <p>Copyright © 2023 <span style="color: rgb(255,60,0)">nzWebApps</span><img src="/assets/logo-nb-nt-smiley-200.webp"
        alt="logo" style="height: 40px; width: 40px; margin: -9px -10px -11px 0px;"></p>
  </div>
</body>

</html>