<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users App</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/client-scripts/client-script" defer></script>
  <script src="/client-scripts/client-validation.js" defer></script>
</head>

<body>
 <div id="header">
    {{!-- <h1 id="page-title-weight">pageTitle</h1> --}}
    <div id="hamburger-menu" onclick="toggleNav()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav class="nav" id="nav">
      <a href="#">Home</a>
      <a href="/cards/card-scroll">Cards</a>
      <a href="#">Your Profile</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <a href="/logout">Log out</a>
    </nav>
</div>
  <div id="content" style="height: 1px;">
    {{{body}}}
  </div>
  <div id="footer">
    <p>Copyright © 2023 <span style="color: rgb(255,60,0)">nzWebApps</span><img src="/assets/logo-nb-nt-smiley-200.webp"
        alt="logo" style="height: 40px; width: 40px; margin: -9px -10px -11px 0px;"></p><br>
        <p>Ordertry</p>
  </div>
</body>

</html>