<!-- cards scroller view -->
<section id="cards-scroller">
 <nav>
  <form id="search-form" >
    <input type="text" id="search-input" placeholder="Search...">
    <button type="submit" id="search-button">Search</button>
  </form>
</nav>

<section id="card-display"> 
  <div class="card">
    <div class="card-title">
      <h3>Javascript</h3>
    </div>
    <div class="card-content">
      <p>Javascript is a programming language used for creating interactive websites and web applications. It can be used to add dynamic behavior to HTML and CSS.</p>
    </div>
    <div class="card-footer">
      <button>Web Dev</button>
      <button>DOM Manipulation</button>
      <button>Front-end Dev</button>
      <button>EMEAScript</button>
      <button>Frameworks</button>
      <button>React-Angular-Vue</button>
    </div>
    <div class="votes">
      <img src="/assets/up.svg" alt="upvote" class="upvote" style="height:20px; width: 20px;"><span>4</span>
      <img src="/assets/up.svg" alt="downvote" class="downvote" style="height:20px; width: 20px;"><span>2</span>
    </div>
  </div>
   <div class="card">
    <div class="card-title">
      <h3>Card 2: Lorem, ipsum</h3>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quibusdam minima culpa?</p>
    </div>
    <div class="card-footer">
      <button>Lorem, ipsum.</button>
      <button>Lorem, ipsum dolor.</button>
    </div>
    <div class="votes">
      <img src="/assets/up.svg" alt="upvote" class="upvote" style="height:20px; width: 20px;"><span>4</span>
      <img src="/assets/up.svg" alt="downvote" class="downvote" style="height:20px; width: 20px;"><span>2</span>
    </div>
  </div>

   <div class="card">
    <div class="card-title">
      <h3>Card 3: Lorem, ipsum</h3>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quibusdam minima culpa?</p>
   
      <button>Lorem ipsum dolor</button>
    </div>
    <div class="card-footer">
      <button>dolar ipsum.</button>
    </div>
    <div class="votes">
      <img src="/assets/up.svg" alt="upvote" class="upvote" style="height:20px; width: 20px;"><span>4</span>
      <img src="/assets/up.svg" alt="downvote" class="downvote" style="height:20px; width: 20px;"><span>2</span>
    </div>
  </div>

   <div class="card">
    <div class="card-title">
      <h3>Card 4: Lorem, ipsum</h3>
    </div>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam qui quibusdam minima culpa?</p>
      <button>Lorem ipsum dolor</button>
    </div>
    <div class="card-footer">
      <button>Lorem ipsum dolor sit amet.</button>
      <button>Lorem, ipsum dolor.</button>
    </div>
    <div class="votes">
      <img src="/assets/up.svg" alt="upvote" class="upvote" style="height:20px; width: 20px;"><span>4</span>
      <img src="/assets/up.svg" alt="downvote" class="downvote" style="height:20px; width: 20px;"><span>2</span>
    </div>
  </div>
</section>
<section id="filter"> </section>