<!-- cards scroller view -->
<section id="cards-scroller">
  <nav>
    <form id="search-form">
      <input type="text" id="search-input" placeholder="Search...">
      <button type="submit" id="search-button">Search</button>
    </form>
  </nav>

  <section id="card-display">
    <div class="card">
      <div class="card-title">
        <h3>Javascript</h3>
      </div>
      <div class="card-content">
        <p>JavaScript is a multi-paradigm, dynamic language with types and operators, standard built-in objects, and methods. Its syntax is based on the Java and C languages — many structures from those languages apply to JavaScript as well.  JavaScript supports object-oriented programming with object prototypes and classes. It also supports functional programming since functions are first-class that can be easily created via expressions and passed around like any other object.</p>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="info-link" target="_blank" >MDN Reference Docs: JavaScript</a>
      </div>
      <div class="card-footer">
        <h3>Related:</h3>
        <button>Web Dev</button>
        <button>Front-end Dev</button>
        <button>EMEAScript</button>
        <button>Frameworks</button>
        <button>React-Angular-Vue</button>
      </div>
      <div class="votes">
        <img src="/assets/up.svg" alt="upvote" class="upvote" style="height:20px; width: 20px;"><span>Move Up</span>
        <img src="/assets/up.svg" alt="downvote" class="downvote" style="height:20px; width: 20px;"><span>Move Down</span>
      </div>
  </section>
  <section id="filter"> </section>