<!-- smart-dog prompt view -->
<div class="smartdog-container">
  
  <div class="prompt">
    <form id="prompt-form" action="">
      <input type="text" id="prompt-input" name="prompt-input" placeholder="Enter prompt...">
  </div>
  
  <div class="ask">
    <button type="submit" id="prompt-button">Ask SmartDog</button>
    </form>
  </div>
  
  <div class="completion-container">
    <div class="completion-text">
      <p>SmartDog says:</p> {{result}}
    </div>
  </div>
  
</div>