
<!-- homepage view -->
<section class="main">
    {{!-- display a toast message if one provided --}}
        {{#if toastMessage}}
            <p class="toast">{{toastMessage}}</p>
        <br>
        {{/if}}
    
    <h1>Welcome</h1>

</section>