<!-- homepage view -->
<section id="hero-content">
  <div class="p-img-1"></div>
  <section class="hero-ctas">
    <div id="box3">
      <button>Get Started</button>
    </div>
  </section>
<section id="hero-text-items">
    <div id="box2">
      <p id="advice4Today"></p>
    </div>
  <div class="p-img-2"></div>
  <div class="p-img-3"></div>
  </section>
</section>