<!-- homepage view -->
<section id="hero-content">
  <section id="hero-text-items">
  <h3>Hey,  you came in!  That&#39;s great!	</h3>
  <p>This is a place to keep track of your projects and plans, and see what your family and friends are up to.</p>
  <a href="#" class="button">Get Started</a>
  </section>
  <section id="advice4Today">
    
  </section>
</section>