<!-- index view -->

<button id="register-button">Register</button>
<button id="sign-in-button">Sign In</button>

<!-- Modal HTML for the register form -->
<div id="register-modal" class="modal">
  <div class="modal-content">
    {{> new-account}}
  </div>
</div>

<!-- Modal HTML for the sign in form -->
<div id="sign-in-modal" class="modal">
  <div class="modal-content">
    {{> login}}
  </div>
</div>
