<!-- index view -->
<section class="main">

  <div class="btn-container">
    <button id="register-button">Register</button>
    <button id="sign-in-button">Sign In</button>
  </div>
  
</section>

<!-- Modal HTML for the register form -->
<div id="register-modal" class="modal">
  <div class="modal-content">
    {{> new-account}}
  </div>
</div>

<!-- Modal HTML for the sign in form -->
<div id="sign-in-modal" class="modal">
  <div class="modal-content">
    {{> login}}
  </div>
</div>
