html {
  background-color: var(--off-primary-color);
}

/**************************************************************************
 *
 *      CSS Variables
 *
 **********/

:root {
  /* Color Palette */
  --primary-color: rgba(255, 255, 255, 0.8);
  --off-primary-color: rgba(255, 255, 255, 0.6);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgba(255, 69, 0, 1);
  --shading: rgb(199, 196, 195);


  /* Shadows */
  --base-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --lg-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  --offset-base-box-shadow: 0 4px 8px 0  rgba(255, 255, 255, 0.8);
  --offset-lg-box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.8);

  /* Fonts */
  --primary-font: Arial, sans-serif;
  --secondary-font: Arial, sans-serif;  


  /* Text size */
  --sm-text-size: 12px;
  --base-text-size: 17px;
  --mid-text-size: 24px;
  --large-text-size: 36px;
  --vlarge-text-size: 48px;
  --hero-text: 64px;

  /* Spacing */
  --base-spacing: 16px;
  --xs-spacing: 8px;
  --sm-spacing: 16px;
  --md-spacing: 24px;
  --lg-spacing: 32px;
  --xl-spacing: 40px;

  /* Radius */
  --base-radius: 4px;
}

/*******************************************************************
 *
 *      Main Layout
 *
 **********/

a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: none;
  padding: 9px;
}


a:hover {
  color: var(--tertiary-color);
  border-radius: 10px 0px 10px 0px;
  border: 4px solid var(--tertiary-color);
  padding: 5px;
  color: var(--secondary-color);
}


#header {
  background-color: var(--primary-color);
}

#page-title-weight {
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  color: var(--tertiary-color);
}

.nav {
  position: fixed;
  top: 30px;
  right: 0;
  margin: 30px;
}

.nav>a {
  background-color: var(--shading);
  border-radius: 10px 0px 10px 0px;
}

.nav>a:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

#content {
  margin-top: 0px;
  padding: 0px;
  background-color: var(--primary-color);
  margin-bottom: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
  border: 1px solid var(--secondary-color);
  font-size: 14px;
}

/**************************************************************************
 *
 *      Index Route - Register/Sign In
 *
 **********/

.main {
  display: block;
  margin: 5vw;
  box-shadow: var(--lg-box-shadow);
}

.main .btn-container {
  display: flex;
  flex-direction:  row;
  align-items: center;
  justify-content: center;
  text-justify: auto;
  width: 100%;
}

.btn-container > h1 {
  font: var(--primary-font);
  text-align: center;
}

.main button {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 10px;
  margin: 20px;
  width: 150px
}

#index-toast {
  color: var(--tertiary-color);
}

/**************************************************************************
 *
 *      Modal Styles
 *
 **********/

.modal {
  display: none;  /* Hidden by default */
  position: fixed;   /* Stay in place */
  z-index: 1;   /* Sit on top */
  padding-top: 100px;  /* Location of the box */
  left: 0%;
  top: 0;
  width: 100%;   /* Full width */
  height: 100%;  /* Full height */
  overflow: auto;  /* Enable scroll if needed */
  background-color: var(--primary-color); 
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  background-color: rgb(235, 235, 235);
  margin: var(--lg-spacing);
  padding: var(--sm-spacing);
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: var(--base-box-shadow);
}


label, input {
  display: block;
  margin: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2px;
}

input:focus {
  background-color: rgb(184, 184, 184);
}

form > button {
  border-radius: 5px;
  margin: 0 calc(100%/4.3) 0 calc(100%/3);
  padding: 10px;
}

form > button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

#close-log-in, #reg-close {
    position: absolute;
    right: var(--sm-spacing);
    top: var(--sm-spacing);  
    cursor:pointer;
    font-size: var(--mid-text-size);
    transition: transform 1s ease, color 1s ease;
    transform: rotate(0deg) scale(1);
    transform-origin: center;
    font-weight: 400;
}

#close-log-in:hover, #reg-close:hover {
  transform: rotate(180deg) scale(1.3);
  color: var(--tertiary-color);
  transition: transform 1s ease, color 1s ease;
  transform-origin: center;
  font-weight: 900;
}

/**************************************************************************
 *
 *      Hero Welcome Partial
 *
 **********/


.hero p {
  font-size: var(--mid-text-size);
  margin-bottom: 40px;
}

.p-img-1 {
  height: 700px;
  width: 100vw;
  background-image: url(/assets/hero-nature2-littleboy.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-text-items {
  /* text */
  color: var(--primary-color);
  position: absolute;
  top: 25vh;
}

#box2 {
  margin-top: 140px;
  padding: 6.9px;
}

.hero-ctas {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 75vh;
  padding-left: var(--lg-spacing);
}

.hero-ctas button {
  font-size: var(--mid-text-size);
  background: linear-gradient(to top left, black, white , gray);
  padding: var(--sm-spacing);
  border-radius: 90px;
  color: var(--secondary-color);
}

#advice4Today {
  position: fixed;
  top: 10vh;
  right: 10vw;
  font-size: var(--vlarge-text-size);
  padding-left: var(--lg-spacing);
  margin-left: 51vw;
}

#box3 > button {
  cursor: pointer;
}

/**************************************************************************
 *
 *      Hamburger/Nav 
 *
 **********/

#hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  right: 12px;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

#hamburger-menu .bar {
  width: 100%;
  height: 3px;
  background-color: var(--tertiary-color);
  transform-origin: center;
}

#hamburger-menu.open .bar:nth-of-type(1) {
  transform: rotate(45deg) translate(1px, 1px);
}

#hamburger-menu.open .bar:nth-of-type(2) {
  opacity: 0;
} 

#hamburger-menu.open .bar:nth-of-type(3) {
  transform: rotate(-45deg) translate(1px, -1px);
}

#nav {
  display: none;
}

/**************************************************************************
 *
 *      Cards-Scroll
 *
 **********/


#cards-scroller {
  display: flex;
  flex-direction: row;
  height: fit-content;
  background-color: var(--off-primary-color);
}

#search-form {
  display: inline;
}

#search-input {
  position: fixed;
  top: 20px;
  left: 15px;
  padding: 0.5em;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-right: 0.5em;
}

#search-button {
  position: fixed;
  top: 22px;
  left: 110px;
  padding: 0.5em 1em;
  background-color: var(--off-primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

#card-display {
  display: block;
  position: inherit;
  margin: 60px 0px 100px 0px;
}

.card {
  /* border: 1px solid black; */
  height: calc(100vh/2);
  width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 3fr, 1fr;
  grid-template-areas: 
  "header"
  "content"
  "content"
  "content"
  "footer";
  margin:10px;
  box-shadow: var(--base-box-shadow);
  background: linear-gradient(to top, white, rgb(211, 211, 211), rgb(93, 93, 93));
}

.card-title {
  grid-area: 'header';
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  color: var(--primary-color);
  padding: 5px;
  /* border-bottom: 1px solid gray; */
}

.card-content {
  grid-area: 'content';
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 5px;

}

.card-footer {
  grid-area: 'footer';
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding: 5px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.card-footer > button {
  margin: 5px;
  padding: 3px;
  border: none;
  border-radius: 50px;
  background-color: white;
  box-shadow: var(--base-box-shadow);
  color: var(--tertiary-color);
  height: 4rem;
  width: 5rem;
  padding: 5px;
}

.votes{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.upvote {
  margin: 0px 20px;
}

.downvote {
  transform: rotate(180deg);
  margin: 0px 20px;
}

.upvote:hover, .downvote:hover {
 
  /* background: gray; */
}



/**************************************************************************
 *
 *      Media Queries 
 *
 **********/


@media only screen and (max-width: 650px) {

.nav > a {
  display: block;
  margin: 10px;
}

#advice4Today {
  font-size: var(--large-text-size);
  top: 5vh;
  left: 0vw;
  padding-left: 0;
}

.main .btn-container {
  flex-direction:  column;
}

.p-img-1 {
  height: 700px;
  width: 100vw;
  background-image: url(/assets/hero-nature2-littleboy.jpeg);
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

}